:root {
    /* Colors */
    --primary-color: #EE4266;
    --primary-yellow: #f4d35e;
    --secondary-color: #540D6E;
    --secondary-orange: #ff7f50;
    --secondary-white: #f1faee;
    --secondary-black: #1d3557;
    --secondary-green: #a8dadc;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var (--secondary-white);
    color: var (--secondary-black);
    line-height: 1.6;
}

/* Header Styles */
header, footer {
    background-color: var (var(--primary-red));
    color: var (--secondary-white);
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    align-items: center;
}

/* Styling for the headings */
h1, footer {
    color: #EE4266;
    margin-bottom: 0.5rem;
    background-color: #f4d35e;
}

h2, h3 {
    color: var (--primary-color);
    margin-bottom: 0.5rem;
    background-color: var (--secondary-green);
}

p {
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #540D6E;
}

/* Navigation Styles */
a {
    display: inline;
    margin-right: 20px;
    color: var (--secondary-black);
    background-color:  #a8dadc;
}


