|* {
    margin: 0;
    padding: 0;
}

/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
}

/* mobile *******************/
header {
    background-color: #4a90e2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px;
    border: 1px solid rgb(0 0 0 / 0.1);
    text-align: center;
}

.highlight {
    color: yellow; /* Set font color to yellow */
}

h1 {
    font-size: 1.5rem;
}

nav {
    background-color: black;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}

nav a {
    display: block;
    color: #eee;
    background-color: #042f61;
    text-decoration: none;
    text-align: center;
    padding: 1rem; 
    margin: 0 auto;
}

/* Optional: Add hover effect for links */
.nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    text-decoration: overline;
}

.active {
    color: yellow;
}

/* Main content styles */
.container {
    display: flex;
    flex: 2 1 100%;
}

/* Card styles */
card1 {
    flex: 2;
    padding: 10px;
    background-color: gray;
    border: 1px solid #cccccc;
    border-radius: 15px;
}

.card2 {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* General styling for headings and paragraphs within cards */
h2 {
    text-align: center;
    background-color: #4a90e2;
    color: rgb(19, 6, 138);
    padding: 20px;
}

.card1 img {
    float: right;
    margin-left: 15px;
}

.card1 h2, h3 {
    text-align: center;
}

.card1 p {
    text-align: justify;
}

.card1 img:last-of-type {
    float: left;
    margin-right: 15px;
}

.card1::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #4a90e2; 
    color: white; /* Default text color */
    padding: 10px;
    text-align: center;
}

.highlight {
    color: yellow; 
}