/* Media Query for larger screens */
@media (min-width: 769px) {
  .logo h1 {
    font-size: 2rem;
    }

    .nav-links {
        display: flex !important; 
    }

    .hamburger {
        display: none !important; /* Ensure it's hidden */
    }

    .nav-links {
    gap: 30px;
    display: flex; 
    }

    .nav-links a {
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem; 
    }

    /* Re-hides the hamburger  */
    .hamburger {
    display: none;
    }

    header nav {
      padding: 1rem; 
    }
  }

/* Media Query for even larger screens */
@media (min-width: 1200px) {
  .logo h1 {
    font-size: 2.5rem;
  }

  .nav-links {
    gap: 40px; 
  }

  .nav-links a {
    padding: 1rem 2rem; 
    font-size: 1.2rem;
  }

  .nav-links.active {
    display: flex !important; 
  }

  header {
    padding: 1.5rem 0; 
  }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 10px;
}

footer div {
    margin: 5px 0;
    visibility: visible;
    display: block;
}

