@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
}

/* General styles for Main layout */
main {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    padding: 20px; 
}

nav {
    display: flex;
    align-items: center;
}

.menu-toggle {
    display: none;
}

.hamburger {
    cursor: pointer;
    font-size: 2em;
}

.nav-list {
    display: flex;
}

.nav-list a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

nav ul {
    list-style-type: none; /* Removes bullets */
    margin: 0;            /* Removes default margin */
    padding: 0;           /* Removes default padding */
}

/* Hamburger menu styles */
.menu-toggle:checked + .hamburger + .nav-list {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
        width: 100%;
        background-color: #444;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
        padding-top: 10px;
        text-align: center;        
    }

    .nav-list li {
        margin-left: 0;
        text-align: center;
        padding: 10px;
    }
}

.home-title {
    text-align: center;
    font-weight: 700;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    margin: 0 auto;
}

.grid-container figure {
    margin: 0; 
}

.grid-container img {
    width: 100%; 
    height: auto;  
}